---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const courses = [
    "Software Engineering (CSC 326)",
    "Self-Driving Cars: Theory and Practice (CSC 495)",
    "Intro to Artificial Intelligence (CSC 411)",
    "Data Structures and Algorithms (CSC 316)",
    "Software Development Fundamentals (CSC 216)",
    "Automata, Grammars, and Computability (CSC 333)",
    "C and Software Tools (CSC 230)",
    "Python Applications (CSC 295)",
];

---

<BaseLayout pageTitle={pageTitle}>

    <p>Hello there. I'm Alex. I'm currently working on two degrees: a BS in Computer Science and a BA in International Studies.</p>

    <br/>

    <h2 class="underline text-xl"> Relevant Coursework</h2>


    <ul class="list-none">
        {courses.map((lang) => <li class="">{lang}</li>)}
    </ul>

</BaseLayout>
