---
---
<div class="nav-links">
    <a href="/personal-website">About</a>
    <a href="/personal-website/blog">Blog</a>
    <a href="/personal-website/tags">Tags</a>
    <a href="/personal-website/credits">Credits</a>
</div>